<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editar Factura</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="container" id="app">
            <form style="background-color: aliceblue; margin: 10px auto; width: 400px; padding: 20px;">
                <h2>Editar Factura</h2>
                <div class="mb-3">
                    <label for="id_factura">ID de Factura</label>
                    <input type="number" name="id_factura" id="id_factura" disabled v-model="id_factura">
                </div>
                <div class="mb-3">
                    <label for="fecha_emision">Fecha de Emisión</label>
                    <input type="date" name="fecha_emision" id="fecha_emision" v-model="fecha_emision">
                </div>
                <div class="mb-3">
                    <label for="id_clientes">ID de Cliente</label>
                    <input type="number" name="id_clientes" id="id_clientes" v-model="id_clientes">
                </div>
                <div class="mb-3">
                    <label for="impuestos">Impuestos</label>
                    <input type="text" name="impuestos" id="impuestos" v-model="impuestos">
                </div>
                <div class="mb-3">
                    <label for="numero_factura">Número de Factura</label>
                    <input type="number" name="numero_factura" id="numero_factura" v-model="numero_factura">
                </div>
                <div class="mb-3">
                    <label for="subtotal">Subtotal</label>
                    <input type="number" name="subtotal" id="subtotal" v-model="subtotal">
                </div>
                <div class="mb-3">
                    <label for="total">Total</label>
                    <input type="number" name="total" id="total" v-model="total">
                </div>
                <!-- Añade otros campos según sea necesario -->

                <button type="button" class="btn btn-success" @click="modificarFactura">Grabar Factura</button>
            </form>
        </div>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/factura_editar.js"></script>
</body>
</html>
